EMAILJS_SERVICE_ID=service_1l0xsny
EMAILJS_PUBLIC_KEY=your_emailjs_public_key
EMAILJS_PRIVATE_KEY=your_emailjs_private_key
EMAILJS_VERIFY_TEMPLATE_ID=your_verification_template_id
EMAILJS_RESET_TEMPLATE_ID=your_reset_password_template_id